<!Doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="masterDasboard">
<body>
<main layout:fragment="contenido">
<div class="container mt-4">
        <a th:href="@{/newC}" class="btn btn-outline-primary">NUEVO</a>
        <a th:href="@{/compra/exportC/excelC}" class="btn btn-outline-success">Excel</a>
                                <div class="row">
                            <div class="col">
                              <br>
                              <form th:action="@{/listarC}" class="form-inline" >
                                     <div class="form-group mb-2">
                                         <label for="">Filtrar:</label>
                                         <div class="form-group mx-sm--3 mb-2"></div>
                                         <input type="date" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Digite la fecha a buscar" required>
                                     
                                     </div>   
                                      <input type="submit" class="btn btn-inf mb-2" value="Buscar">
                                      &nbsp;&nbsp;
                                     <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">
                                 </form>
                                 <br>
                            </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID Compra</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="compra : ${compras}">
                    <td th:text="${compra.idcompra}"></td>
                    <td th:text="${compra.fechaC}"></td>
                    <td th:text="${compra.proveedorC}"></td>
                    <td th:text="${compra.productoC}"></td>
                    <td th:text="${compra.cantidadC}"></td>
                    <td th:text="${compra.precioC}"></td>
                    <td>
                        <a th:href="@{/editarC/}+${compra.idcompra}" class="btn btn-warning">Editar</a>
                       <a th:href="@{/eliminarC/}+${compra.idcompra}" class="btn btn-danger">Eliminar</a>
                        </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script type="text/javascript">

        function limpiarCampos(){
            window.location='/listarC';
        }
    </script>
</main>
</body>
</html>