<!Doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="masterDasboard">
<body>
<main layout:fragment="contenido">
    <div class="contenido container mt-4">
        <a th:href="@{/newProveedor}" class="btn btn-outline-primary">NUEVO</a>
        <a th:href="@{/Proveedores/export/excel}" class="btn btn-outline-success">EXCEL</a> 
        <br>
        <form th:action="@{/listarProveedores}" class="form-inline" >
            <div class="form-group mb-2">
                <label for="">Filtrar:</label>
                <div class="form-group mx-sm--3 mb-2"></div>
                <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Digite la fecha a buscar" required>
            
            </div>   
             <input type="submit" class="btn btn-inf mb-2" value="Buscar">
             &nbsp;&nbsp;
            <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">
        </form>
        
        <table id="tablax" class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE PROVEEDOR</th>
                    <th>CORREO ELECTRONICO</th>
                    <th>TELEFONO</th>
                    <th>ACCION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proveedor : ${proveedores}">
                    <td th:text="${proveedor.id}"></td>
                    <td th:text="${proveedor.nombre}"></td>
                    <td th:text="${proveedor.correoElectronico}"></td>
                    <td th:text="${proveedor.telefono}"></td>
                    <td>
                        <a th:href="@{'/editarProveedor/'+${proveedor.id}}" class="btn btn-warning">Editar</a>
                        &nbsp;
                        <a th:href="@{'/eliminarProveedor/'+${proveedor.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">

        function limpiarCampos(){
            window.location='/listarProveedores';
        }
    </script>
</main>
</body>
</html>