<!Doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="masterDasboard">
<body>
<main layout:fragment="contenido">
    <div class="container mt-4" >
        <div class="row justify-content-center">
        <div class="col-sm-6">
            <form th:action="@{/guardarGastos}" th:object=${gastos} method="POST" >
                <div class="card">
                <div class="card-header">
                    <h3>Modulo Gastos</h3>
                </div>
                <div class="card-body">
                    <!-- <div class="form-group"> 
                        <label for="">id  </label>
                        <input th:field="*{id}" type="number" class="form-control" name="id" id="id" placeholder="" required>
                        
                    </div> -->
                    <div class="form-group"> 
                        <label for="">Fecha  </label>
                        <input id="fecha" name="fecha" th:field="*{fecha}" type="date" class="form-control" required>
                    </div>
                    <div class="form-group"> 
                        <label for=""> Descripcion  </label>
                        <input th:field="*{descripcion}" type="text" class="form-control"required>
                    </div>
                    <div class="form-group"> 
                        <label for="">Valor </label>
                        <input th:field="*{valor}" type="number" class="form-control"required>
                    </div>

                </div>

                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <script th:inline="javascript">

        var fechaActual = new Date();

        
        var añoActual = fechaActual.getFullYear();

        
        var inputFecha = document.getElementById("fecha");
        inputFecha.min = añoActual + "-01-01"; 
        inputFecha.max = añoActual + "-12-31"; 
    </script>
</main>
</body>
</html>