<!Doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="masterDasboard">
<body>
<main layout:fragment="contenido">
    <div class="contenido container mt-4">     
      
        <a th:href="@{/newG}" class="btn btn-outline-primary">NUEVO</a>
        <a th:href="@{/gastos/exportV/excelV}" class="btn btn-outline-success">EXCEL</a>
        <br>
     <form th:action="@{/listarG}" class="form-inline" >
            <div class="form-group mb-2">
                <label for="">Filtrar:</label>
                <div class="form-group mx-sm--3 mb-2"></div>
                <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Para filtar ingrese la fecha en formato(AAAA-MM-DD)" required>
            
            </div>   
             <input type="submit" class="btn btn-inf mb-2" value="Buscar">
             &nbsp;&nbsp;
            <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos">
        </form>
        <br>
        <table id="tablax" class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Valor</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gasto : ${gastos}">
                    <td th:text="${gasto.id}"></td>
                    <td th:text="${gasto.fecha}"></td>
                    <td th:text="${gasto.descripcion}"></td>
                    <td th:text="${gasto.valor}"></td>
                    
                    <td>
                        <a th:href="@{'/editarG/'+${gasto.id}}" class="btn btn-warning">Editar</a>
                        &nbsp;
                        <a th:href="@{'/eliminarG/'+${gasto.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
    <script type="text/javascript">

        function limpiarCampos(){
            window.location='/listarG';
        }
    </script>
</main>

</body>
</html>