<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Despensa</title>
    <link rel="stylesheet" th:href="@{/css/stylesDes.css}">
    <link  th:href="@{css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <header id="header">
        <nav class="navbar navbar-expand-md navbar bg">
            <div class="logo">
                <img id="imglogo" th:src="@{/Iconos/image-removebg-preview.png}" class="img-fluid" alt="Logo empresa" width="300">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Nosotros}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contacto}">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <a class="btn btn-outline-primary" th:href="@{/login}">INICIO <br> DE SESIÓN</a>
        </div>
    </header> 
<body>
    <section class="contenido">
        <div class="mostrador" id="mostrador">
            <div class="fila">
                <div class="item"  onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/Frijol-Sudespensa.png}" alt="">
                        <p class="descripcion">Frijol radical sudespensa 500 Gr</p>
                        <span class="precio">$ 4.400</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/Lentejas-sudespensa.jpeg}" alt="">
                        <p class="descripcion">Lentejas sudespensa 1000 G</p>
                        <span class="precio">$ 7.700</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/Arveja-despensa.png}" alt="">
                        <p class="descripcion">Arveja verde sudespensa 500 G</p>
                        <span class="precio">$ 2.950</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/cafe-despensa.jpeg}" alt="">
                        <p class="descripcion">Cafe la bastilla 200 G</p>
                        <span class="precio">$ 4.700</span>
                    </div>
                </div>
            </div>
            <div class="fila">
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/aceite-despensa.png}" alt="">
                        <p class="descripcion">Aceite de girasol aburra 2 Lt</p>
                        <span class="precio">$ 25.090</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto" >
                        <img th:src="@{/Iconos/hotcakes-despensa.jpg}" alt="">
                        <p class="descripcion">Pancakes Aunt Jemina 300 GR</p>
                        <span class="precio">$ 6.950</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/Arroz_Diana.png}" alt="">
                        <p class="descripcion">Arroz Diana x25 und x 500g</p>
                        <span class="precio">$ 52.590</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/Azucar_riopaila.png}" alt="">
                        <p class="descripcion">Azucar Riopaila 1 kg</p>
                        <span class="precio">$ 4.900</span>
                    </div>
                </div>
            </div>
            <div class="fila">
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/Panela_panelon.png}" alt="">
                        <p class="descripcion">Panela Panelon 1900 gr</p>
                        <span class="precio">$ 12.590</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/mantequilla.png}" alt="">
                        <p class="descripcion">Mantequilla con sal campi 250 g</p>
                        <span class="precio">$ 6.800</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/atun.png}" alt="">
                        <p class="descripcion">Atun van camps lomo en  aceite 160 g</p>
                        <span class="precio">$ 7.990</span>
                    </div>
                </div>
                <div class="item" onclick="cargar(this)">
                    <div class="contenedor-foto">
                        <img th:src="@{/Iconos/granola-tosh.png}" alt="">
                        <p class="descripcion">Tosh cereal granola 300g</p>
                        <span class="precio">$ 14.990</span>
                    </div>
                </div>
            </div>
        </div>
       <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
       <div class="seleccion" id="seleccion">
        <div class="cerrar" onclick="cerrar()">
            &#x2715
        </div>
        <div class="info">
            <img th:src="@{/Iconos/Frijol-Sudespensa.png}" alt="" id="img frijol">
            <h2 id="modelo">Frijol radical sudespensa 500 Gr</h2>

            <span class="precio" id="precio">$ 4.400</span>

            <div class="fila">
                <div class="cantidad">
                    <label>Cantidad</label>
                    <select>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </div>

        </div>
       </div>
    </section>

    <script th:href="@{script.js}"></script>
</body>
</html>