<html   xmlns:th="http://www.thymeleaf.org">
    <head id="header">
        <title>login</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS v5.2.1 -->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link th:href="@{css/styleLogin.css}" rel="stylesheet">
        <style>
          .custom-height {
            padding-top: 30px;
            height: 700px;
          }
          .titulo-inicio{
            background-color:#1f57b5;
          }
          .iniciar-sesion-h1{
            color: #ffffff;
          }
        </style>
      </head>
      <body>
        <header id="header">
          <div class="logo">
            <img id="imglogo" th:src="@{Iconos/image-removebg-preview.png}" class="img-fluid" alt="Logo empresa">
          </div>
        </header>
        <main class="login-form">
          <div class="cotainer">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header text-center titulo-inicio">
                    <h5 class="iniciar-sesion-h1">INICIAR SESIÓN</h5>
                  </div>
                  <div class="card-body custom-height ">
                    <form th:action="@{/login}" method="post">
                      <div class="form-outline mb-4">
                        <div id="textCliente" class="text-center">
                            <img id="funcionarioIcono" th:src="@{/Iconos/funcionarioIcono.jpg}" class="img-fluid" alt="IconoUsuario" />
                        </div>
                    </div>
                      <div class="mb-3">
                          <label for="email" class="form-label">Correo Electrónico:</label>
                          <input type="text" class="form-control" id="email" name="email" required>
                          <div class="invalid-feedback">
                            Ingrese un correo válido usando @
                        </div>
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label">Contraseña:</label>
                          <input type="password" class="form-control" id="password" name="password" required>
                      </div>
                      <div class="text-center">
                          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                      </div>
                  </form>

                  <div class="form-group">
                    <span>Si eres nuevo usuario <a th:href="@{/register}">regístrate
                        aqui</a></span>
                  </div>
                  </div>
                    
        </main>
        <footer class="footer">
        </footer>
         <!-- Bootstrap JavaScript Libraries --> 
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script th:src="@{js/validacionInicio.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js}" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script> -->
      </body>
      
</html>